name: focus_forward
description: "Focus Forward - A discipline & self-improvement app"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_local_notifications: ^18.0.1
  shared_preferences: ^2.3.4
  permission_handler: ^11.3.1
  intl: ^0.20.2
  google_fonts: ^6.2.1
  timezone: ^0.10.0
  audioplayers: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/sounds/
